@media only screen and ((max-width: 1028px)) {
  .grid-ele-pos {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }

  .trade-left-grid-pos {
    height: 40vh !important;
    margin: 18px 0px !important;
  }

  .position-main {
    width: 50% !important;
  }
  .table-pos {
    width: 50% !important;
  }

  .long-short-btn {
    width: 60% !important;
  }
}

@media only screen and ((max-width: 768px)) {
  .grid-ele-pos {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }

  .trade-left-grid-pos {
    height: 40vh !important;
    margin: 18px 0px !important;
  }

  .position-main {
    width: 60% !important;
  }
  .table-pos {
    width: 60% !important;
  }

  .long-short-btn {
    width: 60% !important;
  }
}

@media only screen and ((max-width: 425px)) {
  .grid-ele-pos {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }

  .trade-left-grid-pos {
    height: 40vh !important;
    margin: 18px 0px !important;
  }

  .position-main {
    width: 100% !important;
  }
  .table-pos {
    width: 100% !important;
  }

  .long-short-btn {
    width: 60% !important;
  }
}
@media only screen and ((max-width: 375px)) {
  .grid-ele-pos {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }

  .trade-left-grid-pos {
    height: 40vh !important;
    margin: 18px 0px !important;
  }

  .position-main {
    width: 100% !important;
  }
  .table-pos {
    width: 100% !important;
  }

  .long-short-btn {
    width: 60% !important;
  }
}
