.tv-embed-widget-wrapper {
  display: none !important;
}

@media only screen and ((max-width: 1028px)) {
  .grid-ele {
    max-width: 63% !important;
    flex-basis: 63% !important;
  }
  .grid-ele2 {
    max-width: 45% !important;
    flex-basis: 35% !important;
    margin: 18px 0px !important;
  }
  .trade-left-grid {
    height: 60vh !important;
    margin: 18px 0px !important;
  }

  .trade-right-grid {
    height: 80vh !important;
    justify-content: center !important;
    padding: 30px 20px !important;
  }

  .long-short-btn {
    width: 60% !important;
  }
}
@media only screen and ((max-width: 768px)) {
  .grid-ele {
    max-width: 100% !important;
    flex-basis: 100% !important;
    margin: 0 auto !important;
  }
  .grid-ele2 {
    max-width: 60% !important;
    flex-basis: 60% !important;
    margin: 20px auto !important;
  }
  .trade-left-grid {
    height: 55vh !important;
  }

  .trade-right-grid {
    height: 85vh !important;
    justify-content: center !important;
    padding: 30px 20px !important;
  }

  .long-short-btn {
    width: 60% !important;
  }
}
@media only screen and ((max-width: 425px)) {
  .trade-left-grid {
    height: 35vh !important;
    margin: 18px !important;
    padding: 22px 0px !important;
  }
  .grid-ele2 {
    max-width: 100% !important;
    flex-basis: 100% !important;
    margin: 18px !important;
  }
  .trade-right-grid {
    height: 85vh !important;
    justify-content: center !important;
    padding: 30px 20px !important;
  }
  .grid-ele {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }

  .long-short-btn {
    width: 100% !important;
  }
}
@media only screen and ((max-width: 375px)) {
  .trade-left-grid {
    height: 35vh !important;
    margin: 18px !important;
    padding: 22px 0px !important;
  }
  .grid-ele2 {
    max-width: 100% !important;
    flex-basis: 100% !important;
    margin: 18px !important;
  }
  .trade-right-grid {
    height: 85vh !important;
    justify-content: center !important;
    padding: 30px 20px !important;
  }

  .long-short-btn {
    width: 100% !important;
  }
  .grid-ele {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }
}
